<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<style>
	#pop {
	   z-index:2;
	   position:absolute;
	   border: 1px solid #333333;
	   text-align:center;
	   background:#000000;
	}
	#cerrar {
	   float:right;
	   margin-right:5px;
	   cursor:pointer;
	   font:Verdana, Arial, Helvetica, sans-serif;
	   font-size:12px;
	   font-weight:bold;
	   color:#FFFFFF;
	   background-color:#666666;
	   width:12px;
	   position:relative;
	   margin-top:-1px;
	   text-align:center;
	}
</style>

<script>

	function mostrar() {
	   $("#pop").fadeIn('slow');
	} //checkHover

	$(document).ready(function (){
		//Conseguir valores de la img
   var img_w = $("#pop img").width() + 10;
   var img_h = $("#pop img").height() + 28;

   //Darle el alto y ancho
   $("#pop").css('width', img_w + 'px');
   $("#pop").css('height', img_h + 'px');

   //Esconder el popup
   $("#pop").hide();
    //Consigue valores de la ventana del navegador
   var w = $(this).width();
   var h = $(this).height();

   //Centra el popup
   w = (w/2) - (img_w/2);
   h = (h/2) - (img_h/2);
   $("#pop").css("left",w + "px");
   $("#pop").css("top",h + "px");
   //temporizador, para que no aparezca de golpe
   setTimeout("mostrar()",1500);
   //Función para cerrar el popup
   $("#pop").click(function (){
      $(this).fadeOut('slow');
   });
});
</script>
</head>
<body>
<div id="pop">
   <div id="cerrar">X</div>
   <img src="imgages/publicidad.jpg" height="507" width="600" border="0">
</div>

</body>
</html>