<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sistema de Administracíon </title>
	<meta name="description" content="Sistema de Administracion" />
	<meta name="author" content="Armando Enrique Pisfil Puemape" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="./css/maquetacion.css">
	<link rel="stylesheet" href="./css/style2014.css">
	<style>

	</style>

</head>
<body>
	<div class="grid">
		<div class="row">
			<div class="c12 ">
				<nav class="menu">
					<ul class="nav">
						<li>
							<a href="#" class="primero">Home<span class="flecha">&#9660;</span></a>
						</li>
						<li>
							<a href="#" class="primero">Servicios<span class="flecha">&#9660;</span></a>
							<ul>
								<li><a href="#">Diseno grafico<span class="flecha">&#9654;</span></a></li>
								<li>
									<a href="#">Diseno web<span class="flecha">&#9654;</span></a>
									<ul>
										<li><a href="#">Submenu 1<span class="flecha">&#9654;</span></a></li>
										<li><a href="#">Submenu 2<span class="flecha">&#9654;</span></a></li>
										<li><a href="#">Submenu 3<span class="flecha">&#9654;</span></a></li>
										<li><a href="#">Submenu 4<span class="flecha">&#9654;</span></a></li>
										<li><a href="#">Submenu 5<span class="flecha">&#9654;</span></a></li>
									</ul>
								</li>
								<li>
									<a href="#">Marketing<span class="flecha">&#9654;</span></a>
									<ul>
										<li><a href="#">Submenu 1<span class="flecha">&#9654;</span></a></li>
										<li><a href="#">Submenu 2<span class="flecha">&#9654;</span></a></li>
										<li>
											<a href="#">Submenu 3<span class="flecha">&#9654;</span></a>
											<ul>
												<li><a href="#">Submenu 1<span class="flecha">&#9654;</span></a></li>
												<li><a href="#">Submenu 2<span class="flecha">&#9654;</span></a></li>
												<li><a href="#">Submenu 3<span class="flecha">&#9654;</span></a></li>
												<li><a href="#">Submenu 4<span class="flecha">&#9654;</span></a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#">SEO<span class="flecha">&#9654;</span></a></li>
							</ul>
						</li>
						<li>
							<a href="#">Acerca<span class="flecha">&#9660;</span></a>
							<ul>
								<li><a href="#">Historia<span class="flecha">&#9654;</span></a></li>
								<li><a href="#">Mision<span class="flecha">&#9654;</span></a></li>
								<li><a href="#">Vision<span class="flecha">&#9654;</span></a></li>
							</ul>
						</li>
						<li>
							<a href="#">Contacto<span class="flecha">&#9654;</span></a>
						</li>
					</ul>
				</nav>

			<div class="c12">
					<div class="clear"></div>
					<div class="c5 text-left padding-small-top"><i class="icon-user"> </i> Bienvenido :  Armando Enrique Pisfil Puemape  </div>
					<div class="c5 text-left padding-small-top ">Selva Andina - 06/11/2013 </div>
					<div class="c2 last text-right"><a href="#" class="btn small"> <i class="icon-close"></i> Cerrar Sesión</a> </div>
			</div>
			<hr>

			<div id="botonera" >
				<ul class="botonera text-right">
					<li>
						<a href="#"><i class="boton-nuevo"></i></a>
					</li>
					<li>
						<a href="#"><i class="boton-listar"></i></a>
					</li>
					<li>
						<a href="#"><i class="boton-editar"></i></a>
					</li>
					<li>
						<a href="#"><i class="boton-eliminar"></i></a>
					</li>
					<li
						><a href="#"><i class="boton-reportes"></i></a>
					</li>
				</ul>
			</div>

			<div class="border-container">


				<div id="contenedor">
				</div>

				<div id="paginado">
				</div>

			</div>

		</div>

	</div>
</body>
</html>